<div class="container">
<% if @user.errors.any? %>
  <h3><%= @user.errors.count %> errors prohibited this obj from being saved:</h3>
  <div id="error_explanation" class="alert alert-danger">
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
  <div class="row">
    <div class="col-xs-3">
      <h2>User info</h2>
        <%= form_with model: @user, local: true do |f| %>
        <label>Name</label><br><%= f.text_field :name, class: "name" %><br>
        <label>Image</label><br><%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%><br>
        <%= f.attachment_field :profile_image, placeholder: "プロフィール画像", class: "user-image" %>
        <br>
        <label>Introduction</label><br><%= f.text_area :introduction, class: "introduction" %>
        <br><%= f.submit "update user", class: "edit_user#{current_user.id}" %>
        <% end %>
    </div>
  </div>
</div>