<div class="container">
  <div class="row">
    <div class="col-lg-3">
			<!--  ここに部分テンプレ　-->
			<h1>User info</h1>
			  <table class="table">
			    <tbody>
			      <!--ここに画像挿入-->
			      <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%>
			      <tr>
			        <!--ログインしている人の名前-->
			        <th>name</th>
			        <td><%= @user.name %></td>
			      </tr>
			        <tr>
			          <!-- ログインしている人の紹介文-->
			        <th>introduction</th>
			        <td><%= @user.introduction %></td>
			      </tr>
			    </tbody>
			  </table>

			  <%= link_to edit_user_path(@user),  class: "btn btn-secondary col-xs-12" do %>
			  <i class="fa fa-cog" aria-hidden="true"></i>
			  <% end %>

			<h2>New book</h2>
			<%= form_for(@book) do |f| %>
			  <label>Title</label>
			  <br>
			  <%= f.text_field :title, class: "col-xs-12 book_title" %>
			  <br>
			  <label>opinion</label>
			  <br>
			  <%= f.text_area :body, class: "col-xs-12 book_body" %>
			  <br><br><br>
			  <div class="actions">
			  <%= f.submit 'Create Book', class: "btn btn-primary col-xs-12" %>
			  </div>
			<% end %>
			<!--ここまで-->
		</div>
		<div class="col-lg-9">
		  <h2>Users</h2>
		    <table class="table">
		      <thead>
		        <tr align="left">
		          <th>image</th>
		          <th>name</th>
		          <th></th>
		          <th colspan="3"></th>
		        </tr>
		    	</thead>
		    	<tbody>
					  <% @users.reverse_each do |user| %>
					  <tr>
					    <td><%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%></td>
				      <td><%= user.name %></td>
				      <td><%= link_to 'show', user_path(user.id), class: "user_#{user.id}" %></td>
				     </tr>
		        <% end %>
		    	</tbody>
		    </table>
		</div>
  </div>
</div>