<%= flash[:notice] %>
<div class="container">
<% if @book.errors.any? %>
  <h3><%= @book.errors.count %> errors prohibited this obj from being saved:</h3>
  <div id="error_explanation" class="alert alert-danger">
    <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <div class="row">
    <div class="col-md-3">

    	 <!--  ここに部分テンプレ　-->
			<h1>User info</h1>
			  <table class="table">
			    <tbody>
			      <!--ここに画像挿入-->
			      <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg"%>
			      <tr>
			        <!--ログインしている人の名前-->
			        <th>name</th>
			        <td><%= @user.name %></td>
			      </tr>
			        <tr>
			          <!-- ログインしている人の紹介文-->
			        <th>introduction</th>
			        <td><%= @user.introduction %></td>
			      </tr>
			    </tbody>
			  </table>

			<div class="row">
			  <%= link_to edit_user_path(@user),  class: "btn btn-outline-secondary btn-block col-xs-12" do %>
			  <i class="fas fa-user-cog" aria-hidden="true"></i>
			  <% end %>
			</div>
<br>
			<h2>New book</h2>
			<%= form_for(@book) do |f| %>
			  <label>Title</label>
			  <br>
			  <%= f.text_field :title, class: "col book_title" %>
			  <br>
			  <label>opinion</label>
			  <br>
			  <%= f.text_area :body, class: "col book_body" %>
			  <br><br><br>
			  <div class="actions">
			  <%= f.submit 'Create Book', class: "btn btn-success col-xs-12" %>
			  </div>
			<% end %>
			<!--ここまで-->

		</div>
		<div class="col-md-8 offset-md-1">
		  <h2>Books</h2>
		    <table class="table">
		      <thead>
		        <tr align="left">
		          <th></th>
		          <th>Title</th>
		          <th>Opinion</th>
		          <th colspan="3"></th>
		        </tr>
		    	</thead>
  		    <tbody>
  				<% @books.reverse_each do |book| %>
  				<tr>
  					<td><%= attachment_image_tag book.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%></td>
  				  <td><%= link_to book.title, book, class: "book_#{@book.id}" %></td>
  				  <td><%= book.body %></td>
  				</tr>
  		    <% end %>
  		    </tbody>
		    </table>
	  </div>
  </div>
</div>
<footer>
  <div class="container mt-5">
    <p class="text-center">CopyRight Infratop.inc</p>
  </div>
</footer>