<%= flash[:notice] %>
<div class="container">
<% if @book.errors.any? %>
  <h3><%= @book.errors.count %> errors prohibited this obj from being saved:</h3>
  <div id="error_explanation" class="alert alert-danger">
    <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
  <div class="row">
    <div class="col-md-3">

			<!--  サイドバー　-->
      <h1>User info</h1>
        <table class="table">
          <tbody>
            <%= attachment_image_tag @bookdetail.user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg"%>
            <tr>
              <th>name</th>
              <td><%= @bookdetail.user.name %></td>
            </tr>
              <tr>
              <th>introduction</th>
              <td><%= @bookdetail.user.introduction %></td>
            </tr>
          </tbody>
        </table>

      <div class="row">
        <%= link_to edit_user_path(@bookdetail.user),  class: "btn btn-outline-secondary btn-block col-xs-12" do %>
			  <i class="fas fa-user-cog" aria-hidden="true"></i>
			  <% end %>
			</div>
<br>
      <h2>New book</h2>
      <%= form_for(@book) do |f| %>
        <label>Title</label>
        <br>
        <%= f.text_field :title, class: "col book_title" %>
        <br>
        <label>Opinion</label>
        <br>
        <%= f.text_area :body, class: "col book_body" %>
        <br><br><br>
        <div class="actions">
        <%= f.submit 'Create Book', class: "btn btn-success col-xs-12" %>
        </div>
      <% end %>
      <!--ここまでサイドバー-->


		</div>
		<div class="col-md-8 offset-md-1">
		  <h2>Book detail</h2>
		    <table class="table">

		    	<tbody>
						<tr>
				    	<td><%= attachment_image_tag @bookdetail.user, :profile_image, :fill, 100, 100, format:'jpeg', fallback: "no_image.jpg" %>
				     	<td><%= link_to @bookdetail.user.name, user_path(@bookdetail.user.id) %></td>
				      <td><%= link_to @bookdetail.title, book_path(@bookdetail.id) %></td>
				      <td><%= @bookdetail.body %></td>
				      <% if @bookdetail.user_id == current_user.id %>
              <th><%= link_to "Edit", edit_book_path(@bookdetail.id), class: "btn-sm btn-success edit_book_#{@bookdetail.id}" %></th>
              <th><%= link_to "Destroy", book_path(@bookdetail.id), method: :delete, "data-confirm" => "削除しますか？", class: "btn-sm btn-danger destroy_book_#{@bookdetail.id}" %></th>
              <% end %>
				  	</tr>
		    	</tbody>
		    </table>
		</div>
  </div>
</div>
<footer>
  <div class="container mt-5">
    <p class="text-center">CopyRight Infratop.inc</p>
  </div>
</footer>