<div class="container">
  <div class="row">
    <div class="col-lg-3">
			<p>あ</p><!--%= render 'portion/list', book: @book, user: @user %>-->
		</div>
		<div class="col-lg-9">
		  <h2>Book detail</h2>
		    <table class="table table-striped">
		      <thead>
		        <tr align="left">
		          <th></th>
		          <th></th>
		          <th></th>
		          <th colspan="3"></th>
		        </tr>
		    	</thead>
		    	<tbody>
						<tr>
				    	<!--%= attachment_image_tag @bookdetail.user, :profile_image, :fill, 40, 40, format:'jpeg', fallback: "no_image.jpg" %></td>-->
				     	<td><%= link_to @bookdetail.user.name, user_path(@bookdetail.user.id) %></td>
				      <td><%= link_to @bookdetail.title, book_path(@bookdetail.id) %></td>
				      <td><%= @bookdetail.body %></td>
				      <% if @bookdetail.user_id == current_user.id %>
              <th><%= link_to "Edit", edit_book_path(@bookdetail.id), class: "btn-sm btn-success edit_book_#{@bookdetail.id}" %></th>
              <th><%= link_to "Destroy", book_path(@bookdetail.id), method: :delete, "data-confirm" => "削除しますか？", class: "btn-sm btn-danger destroy_book_#{@bookdetail.id}" %></th>
              <% end %>
				  	</tr>
		    	</tbody>
		    </table>
		</div>
  </div>
</div>